
body {
    font-family: "Roboto";
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
    min-width: 1280px;
}

li {
    cursor: pointer;
    transition: all 180ms ease-in-out;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-logo {
    margin-top: 63px;
    padding-right: 949px;
    margin-bottom: 40px;
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
}

.logo-black-letter {
    color: black;
}

.header-nav {
    background-color: #35444F;
}

.header-menu-flex {
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.header-menu-flex li {
    font-size: 24px;
    line-height: 28px;
    color: white;
    border-left: 1px solid white;
}

.header-menu-flex li:last-child {
    border-right: 1px solid white;
}

.header-menu-item.link-programming {
    padding: 26px 32px 19px;
}

.header-menu-item.link-ramda {
    padding: 26px 38px 19px;
}

.header-menu-item.link-fantasy {
    padding: 26px 40px 19px;
}

.header-menu-item.link-node {
    padding: 26px 23px 19px 40px;
}

.header-menu-item:hover {
    background-color: #222F3A;
}

.main-flex {
    display: flex;
    flex-direction: row-reverse;
    margin: 48px auto 0;
    justify-content: space-between;
}

main {
    padding-bottom: 0;
}

.main-info {
    width: 885px;
}

.main-image {
    margin: 0 auto;
    overflow: hidden;
}

.main-image img {
    width: 885px;
    display: block;
    transition: 0.5s all ease-in-out;
}

.main-image img:hover{
    transform: scale(1.5);
}

.main-article p:first-child {
    margin: 36px 0 30px;
}

.main-article p {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.aside-links {
    width: 344px;
    border: 1px solid #888888;
    margin-bottom: 464px;
    margin-right: 52px;
}

.aside-menu-item {
    padding: 26px 0 26px 44px;

}

.aside-menu-item:last-child {
    padding-bottom: 30px;
}

.aside-menu-item a {
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}

.aside-menu-item:hover {
    background-color: #DBDBDB;
    padding-left: 75px;
}

.aside-menu-item:hover a {
    color: black;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    padding:0 40px;
}

.footer-menu-flex {
    display: flex;
}

.footer-menu-item {
    display:block;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding:20px 15px 21px;
}

.footer-menu-item a{
    border-bottom: 1px solid transparent;
    padding-bottom: 10px;
}

.footer-menu-item a:hover {
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}

.copyright-block p {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding-top: 20px;
}

